<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Books</title>
</head>
<body>
    <h1>{{book.title}}</h1>
    <h2>ID: {{book.id}}</h2>
    <h2>Description: {{book.desc}}</h2>
    <br>
    <h2>Authors:</h2>
    <ul>
        {% for author_1 in current_authors %}
            <li>{{ author_1.first_name }} {{author_1.last_name}}</li>
        {% endfor %}
    </ul>
    <form action="/add_author_to_book" method="POST">
        {% csrf_token %}
        <select name="author_1">
            <option>-select an author-</option>
            {% for author_1 in all_authors %}
            <option name="author_1" value='{{author_1.id}}'>{{author_1.first_name}} {{author_1.last_name}}</option>
            {% endfor %}
        </select> 
        <button type="submit" value="select">Add</button>
    </form>   
</body>
</html>